@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    
}
.flex {
    display: grid;
    align-items:center;
    justify-content: center;
    height: 200px;
    width: 200px;
    position: absolute;
    top:20%;
    left: 50%;
    transform: translate(-50% , -50%)
}
.flex > * {
    padding: 15px
}
img {
    max-width: 100%;
    max-height: 100%;
}