<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RMS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles.css') }}"/>
</head>
<body>
<span class="head">
    <img src="{{ url_for('static', filename='images/favicon.png') }}">
    <h1> Welcome back to Trekka™</h1>
</span>

    <nav>
        <ul>
            <li class="navlist"><a href="/logout">Log out &#128274;</li></a></li>
            <li class="navlist"><a href="/add-new-contact">Add contact &#128107;</a></li>
            <li class="navlist"><a href="/invoice">Make Invoice &#127903;</a></li>   
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>