<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/index.css') }}"/>
    <link rel="shortcut icon" type="image/png" href="./images/favicon.png"/>
    <title>Trekka™</title>
</head>
<body>
    <a href="/signup"> Sign Up &#128203; </a>
    <span class="flex">
        <img src="./static/images/TREKKA.png">
        <div>
            <strong>Welcome to Trekka™:</strong> An all inclusive relationship management app for the world's solopreneurs.  
        </div>
        <form action="youre-in" method="POST">
            <input type="text" name="email" placeholder="email">
            <input type="password" name="password" placeholder="password">
            <input type="submit" value="Log In" id="button">
        </form>
</span>
</body>
</html>