{% if invoice == '0' %}
<h1> Tax Invoice </h1>
<h2> Invoice From: {{ you }}</h2>
<h2>Invoice to: {{ company }} ABN: {{ abn }}</h2>
<h2>Contact: {{ name }}</h2>
<div>
    <h2> Description: {{ description }} </h2>
    <h2> Net Amount: $ {{ net }} </h2>
    <h2> GST $ {{ gst }}</h2>
    <h2> Total: $ {{ amount }}</h2>
</div>
<h1> Funds banked: </h1>
<div>
    <h3>{{ you }}</h3>
    <h3> {{ bsb }}</h3>
    <h3>{{ account_number }}</h3>
    <h3>{{ invoice_num }}  </h3>
</div>

Kind regards!

{% else %}
<h1> Recepient created tax invoice: </h1>
<h2>Invoice From: {{ company }} ABN: {{ abn }}</h2>
<h2>Contact: {{ name }}</h2>
<h2> Invoice To: {{ you }}</h2>
<div>
    <h2> Description: {{ description }} </h2>
    <h2> Net Amount: $ {{ net }} </h2>
    <h2> GST: $ {{ gst }}</h2>
    <h2> Total: $ {{ amount }}</h2>
</div>
<h1> Funds banked: </h1>
<div>
    <h3>{{ company }}</h3>
    <h3> {{ bsb }}</h3>
    <h3>{{ account_number }}</h3>
    <h3> #{{ invoice_num }} </h3>
</div>
{% endif %}
