{% extends "base.html" %}
{% block content %}

<section class="more">
    <p>Name: {{ result[0][2] }}</p>
    <p>Company: {{ result[0][3] }}</p>
    <p>Phone: +61 {{ result[0][4] }}</p>
    <p>Email: <a href="{{ result[0][5] }}">{{ result[0][5] }}</a></p> 
    <p>Suburb: {{ result[0][6] }}</p>
    
    
    

    <form method="POST" action="/make_note/{{ result[0][1] }}/{{ result[0][0] }}">
        <input id="note" name="note" type="text">
        <input type="submit" value="make note">
    </form>
{% for note in notes[::-1] %}
    <div>
        {{  note[4].strftime('%Y-%m-%d')}}:
        {{note[3]}}
    </br>
    </div>
    <a href="/home"> Back to home page &#127968; </a>

{% endfor %}



</section>





{% endblock %}