{% extends "base.html" %}
{% block content %}

<section class="more">
    <h3>Name: {{ result[0][2] }}</h3>
    <h3>Company: {{ result[0][3] }}</h3>
    
    <a href="/home"> Back to home page </a>

    <form method="POST" action="/make_note/{{ result[0][1] }}/{{ result[0][0] }}">
        <input id="note" name="note" type="text">
        <input type="submit" value="make note">
    </form>
{% for note in notes[::-1] %}
    <div>
        {{  note[4] }}
        {{note[3]}}
    </br>
    </div>

{% endfor %}



</section>





{% endblock %}