<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <form method="POST" action="signedup">
        <input type="text" name="name" value="full name">
        <input type="text" name="password_1" value="password">
        <input type="text" name="password_2" value="password again">
        <input type="text" name="email" value="email">
        <input type="submit">
    </form>
</body>
</html>