<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="./images/favicon.png" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/index.css') }}" />
    <title>Trekka™: Sign Up</title>
</head>

<body>
    <a href="/"> Log In! &#128275; </a>
    <div class="flexy"> 
    <div class="signin">
        <img src="./static/images/TREKKA.png">
        <div> About Trekka™: An all in one, platform to seamlessly handle business relationships </div>
    </div>
         
        <form method="POST" action="signedup">
            <input type="text" name="name" placeholder="full name">
            <input type="password" name="password_1" placeholder="password">
            <input type="password" name="password_2" placeholder="password again">
            <input type="text" name="email" placeholder="email">
            <input type="submit" value="Make me a member">
        </form>
    </div>
</body>

</html>